.search-container{
    background-color: rgba(0, 0, 0, 0.75);
    text-align: center;
    line-height: 70px;
  
}
.search-container input{
    width: 75%;
    line-height: 25px;
}
.search-container button{
    margin-left: 10px;
    height: 35px;
    width: 80px;
    background: rgb(255, 238, 0);
    border-radius: 5px;
    border: 2px solid rgb(0, 0, 0)
}
.shop-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.product-container{
    border-right: 1px solid lightgray;
    margin-right: 5px;
    margin-left: 50px;
    ;
}
